.topo{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #6A1B9A;
    color:white;
    margin-bottom: 10px;
    }

    .botoes{
        display: flex;
        gap: 10px;
        padding-right: 50px;
    }
body{
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 5%;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #6A1B9A;
    color: white;
    margin-top: 20px;
}
*{
    margin: 0;
}

.logo{
    width: 50%;
    max-height: 20%;
    border-radius: 8px;
    margin-bottom: 10px;
}

button{
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #1A73E8;
    transition: background 0.3s;
    font-weight: bold;
    padding: 6px 12px;
}

a{
    text-decoration: none;
    color: white;
}
.chievo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    margin-top: 20px;
    margin-bottom: 10px;
}

strong svg{
    width: 20px;
    height: 20px;
}

strong{
    display: flex;
    align-items: center;
    gap: 5px;
}

p{
    margin-top: 80px;
}